<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <li><a class="page-link" href="{{ "/" | relative_url }}">Home</a></li>
      <li><a class="page-link" href="/category/games.html">Games</a></li>
      <li><a class="page-link" href="/category/software.html">Software</a></li>
      <li><a class="page-link" href="/category/art.html">Art</a></li>
    </nav>

  </div>

</header>
