---
layout: default
---
{% unless page.content == '' %}
  {{ page.content }}
{% endunless %}

{% if site.categories[page.category] == null %}
  <p>No posts in the category '{{ page.category }}' at this time.</p>
{% endif %}

{% for post in site.categories[page.category] %}
{% if forloop.index == 1 %}
  {% assign is_promoted = true %}
{% else %}
  {% assign is_promoted = false %}
{% endif %}
<div class="showcase {% if is_promoted == true %}promoted{% endif %}">
  <a href="{{ post.url | prepend: site.baseurl }}">
    {% assign image_path = '/assets/' | append: post.featured-image %}
    {% if is_promoted == true %}
      {% image_tag src=image_path width=280 %}
    {% else %}
      {% image_tag src=image_path width=200 %}
    {% endif %}
  </a>
  <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  {{ post.excerpt }}
  <p><a href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
</div>

{% if forloop.index == 1 and site.categories[page.category].size > 1 %}
<h1 class="also">ALSO:</h1>
{% endif %}
{% endfor %}
